* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
}

body {
  background: linear-gradient(to right,  #08E0FE, #008FFF);
}

.container {
 display: flex; 
 width: 100%;
 height: 100vh;

 align-items: center;
 justify-content: center;
 flex-direction: column;
 text-align: center;
}

.sub-container {
 max-width: 450px;
 padding: 2rem;
  
 background-color: #0083FF;
 color: #fdfdfd;
 box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); 
  
 border-radius: 5%;
}

.titulo {
  font-size: 22px;
  margin-bottom: 30px;
}

.content-input {
  display: flex;
  width: 100%;
  gap: 6px;
  align-items: center;
  justify-content: center;
}

.input {
 width: 80%;
 border-radius: 10px;
 border: none;
 padding: 7px;
}

.button{
 padding: 6px;;
 border-radius: 5px;
 border: none;
 cursor: pointer;
 background-color: #8dd0f5;

}

.b:hover {
  transition: brightness 0.2s ease;
  background-color: darkblue;
}

.content-previsão{
  border-top: 1px solid #fff;
  margin-top: 1.5rem;
  padding-top: 1.5rem;

}

.titulo-cidade {
  font-weight: bold;
  font-size: 30px;

  margin-bottom: 8px;
}

.graus {
  font-weight: bold;
  font-size: 70px;
}
.clima {
  margin-top: 8px;
}
.previsão {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1.5rem;
  gap: 10px;
}

.barreira {
  border-right: 1px solid #fff;
  margin-left: 10px;
  padding-right: 10px;
}

